.bgImageHome {
  background-image: url("/images/bluesky-birds.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
}

/*
.projectBg {
  background-image: url("/images/horse-graphic.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
*/
