@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Darker+Grotesque&family=Syncopate:wght@400;700&display=swap");

/*
font-family: 'Chonburi', cursive;
font-family: 'Darker Grotesque', sans-serif;
font-family: 'Syncopate', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
}

a,
button {
}

h2,
h3,
p {
}

.logo {
}

body {
  display: block;
  overflow-x: hidden;
  cursor: crosshair;
}

.cursor {
  background-color: blue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 20%;
}

.active {
  colour: blue;
}
