@import url("https://fonts.googleapis.com/css2?family=Martian+Mono&family=Megrim&family=Plaster&family=Questrial&display=swap");
/*
font-family: 'Martian Mono', monospace;
font-family: 'Megrim', cursive;
font-family: 'Plaster', cursive;
font-family: 'Questrial', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-family: "Prompt", sans-serif;
}

a,
button {
  font-family: "Martian Mono", monospace;
}

article,
p {
  font-family: "Questrial", sans-serif;
}

.logo {
  font-family: "Megrim", cursive;
}

body {
  display: block;
  overflow-x: hidden;
  cursor: crosshair;
}

.cursor {
  background-color: #111;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
