@import url("https://fonts.googleapis.com/css2?family=Geo&display=swap");

/*
font-family: 'Geo', sans-serif;
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  font-family: "Geo", sans-serif;
  //font-size: 12rem;
}

body {
  display: block;
  overflow-x: hidden;
  cursor: crosshair;
}

.cursor {
  background-color: blue;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 20%;
}

.active {
  colour: blue;
}
